body {
	margin: 0;
	font-family: tomato, sans-serif;
	background-color: #dfeeee;
}
.menu {
	background-color: #4b3b6b;
	padding: 10px;
	text-align: right;
}
.menu a {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	font-size: 14px;
}
.container {
	background-color: #a8c8c8;
	width: 90%;
	margin: 20px auto;
	padding: 20px;
}
h2 {
	color: white;
	padding:  5px 10px;
	text-decoration: underline;
}

h3 {
	background-color: white;
	padding: 8px;
	margin-bottom: 10px;
	font-size: 30px;
}
h4 {
	background-color: white;
	padding: 8px;
	margin-bottom: 10px;
	font-size: 25px;
}
.gallery {
	display: flex;
	justify-content: space-between;
}
.photo {
	background-color: #5b8f3c;
	padding: 15px;
}	
.photo img {
	width: 200px;
	height: auto;
	display: block;
}
.text-box {
	background-color: #4f6f4f;
	color: black;
	padding: 15px;
}
footer {
	background-color: #4f6f4f;
	color: black;
	padding: 15px;
	text-align: center;
}